# Part -1 Python Basics (Variables

### 1- Print Your Name with your Father name and Date of birth using suitable escape sequence charactor

In [26]:
print ("name: \t Ashar Ali \nf_name: \t Dilshad Ali \nDOB : \t 25/09/2002")

name: 	 Ashar Ali
f_name: 	 Dilshad Ali
DOB : 	 25/09/2002

## 2-Write your small bio using variables and print it using print function

In [27]:
name =("Ashar Ali ")
f_name= ("Dilshad Ali")
age = (22)
weight = (73.5)
present = ("True")
print(name,f_name,age, weight,present)

Ashar Ali  Dilshad Ali 22 73.5 True

## 3-Write a program in which use all the operators we can use in Python

In [28]:
a = 5
b = 6
a+b

11

In [29]:
a = 5
b = 6
a-b

-1

In [30]:
a = 5
b = 6
a*b

30

In [31]:
a = 5
b = 6
a/b

0.8333333333333334

In [34]:
a = 5
b = 9
a**b

1953125

In [35]:
a = 5
b = 6
a%b

5

In [37]:
a = 5
b = 6
a//b

0

## 4-Completes the following steps of small task:
Mention Marks of English , Islamiat and Maths out of 100 in 3 different variables
Mention Variable of Total Marks and assign 300 to it
Calculate Percentage

In [48]:
# Marks 
english = 54
Islamiat = (84)
Math    = (59)
totalmarks = (300) 
obtainmarks= (197)
print(obtainmarks/totalmarks*100 )

65.66666666666666

# Part -2 Python Basics (Conditional Statements)

#### 5- A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years. Ask user for their salary and year of service and print the net bonus amount.-

In [77]:
year= int(input("how many you work year: ")) 
if year>5:
 salary = int(input("salary of year: "))
 bonus =(salary *5/100)     
 print (bonus)
else :
 print ("you are not eligibel for bounus")

how many you work year:  66
salary of year:  1000000000

50000000.0

#### 6-Write a program to check whether a person is eligible for voting or not. (accept age from user) if age is greater than 17 eligible otherwise not eligible

In [80]:
age = int (input("enter your age: "))
if age >18 :
    print ("you are eligible for voting")
else:
     print ("not eligible")

enter your age:  78

you are eligible for voting

#### 3- Write a program to check whether a number entered by user is even or odd.

In [90]:
num = int(input("enter a number: "))
if num % 2==0:
    print ("even")
else:
     print ("odd")

enter a number:  8

even

#### 4-Write a program to check whether a number is divisible by 7 or not. Show Answer

In [96]:
num = int(input("enter a number: "))
if num %7== 0:
 print ("possibel to divied by 7")
else:
     print ("not possibel")

enter a number:  45

not possibel

#### 5-Write a program to display "Hello" if a number entered by user is a multiple of five , otherwise print "Bye".

In [104]:
num = int(input("enter a number: "))
if num %5 == 0:
     print ("hello")
else:
    print ("by")

enter a number:  5

hello

#### 6 -Write a program to display the last digit of a number.

In [5]:
num1 = 128457
num2 = num1 %10  
print(num2)

7

#### 7-Take values of length and breadth of a rectangle from user and print if it is square or rectangle.

In [121]:
length = int(input("enter a number: "))
wirdth = int(input("enter a number: "))
if length == wirdth: 
  print ("square")
else:
     print ("rectangle")

enter a number:  7
enter a number:  6

rectangle

#### 8- Take two int values from user and print greatest among them.

In [8]:
num1 = int(input("enter a number: "))
num2 = int(input("enter a number: "))
if num1 > num2 :
 print("num1 is greater than num2: ")
if num1 < num2 :
 print("num2 is greater than num1: ")

enter a number:  1
enter a number:  9

num2 is greater than num1:

#### 9- A shop will give discount of 10% if the cost of purchased quantity is more than 1000. Ask user for quantity Suppose, one unit will cost 100. Judge and print total cost for user.

In [10]:
# Take quantity input from user
quantity = int(input("Enter the quantity: "))

# Cost of one unit
unit_price = 100

# Calculate total cost
total_cost = quantity * unit_price

# Check discount condition
if total_cost > 1000:
    discount = total_cost * 0.10   # 10% discount
    total_cost = total_cost - discount

# Print final cost
print("Total cost:", total_cost)

Enter the quantity:  2000

Total cost: 180000.0

#### 10 -A school has following rules for grading system:
a. Below 25 - F

b. 25 to 45 - E

c. 45 to 50 - D

d. 50 to 60 - C

e. 60 to 80 - B

f. Above 80 - A

Ask user to enter marks and print the corresponding grade.

In [21]:
marks = int(input("Enter marks: "))

if marks < 25:
    print("F")
elif marks >= 25 and marks < 45:
    print("E")
elif marks >= 45 and marks < 50:
    print("D")
elif marks >= 50 and marks < 60:
    print("C")
elif marks >= 60 and marks < 80:
    print("B")
else:
    print("A")

Enter marks:  80

A

#### 14-14)A student will not be allowed to sit in exam if his/her attendence is less than 75%.

Take following input from user

Number of classes held

Number of classes attended.

And print

percentage of class attended

Is student is allowed to sit in exam or not.

In [40]:
# Take inputs
classes_held = int(input("Enter total number of classes held: "))
classes_attended = int(input("Enter number of classes attended: "))

# Calculate attendance percentage
attendance_percentage = (classes_attended / classes_held) * 100

# Print percentage
print("Percentage of classes attended:", attendance_percentage, "%")

# Check eligibility
if attendance_percentage >= 75:
    print("You are allowed to sit in exam.")
else:
    print("You are NOT allowed to sit in exam.")

Enter total number of classes held:  100
Enter number of classes attended:  75

Percentage of classes attended: 75.0 %
You are allowed to sit in exam.

#### 15-Modify the above question to allow student to sit if he/she has medical cause. Ask user if he/she has medical cause or not ( 'Y' or 'N' ) and print accordingly.

In [41]:
held = int(input("Total classes held: "))
attended = int(input("Classes attended: "))
perc = (attended / held) * 100
print("Attendance:", perc, "%")

print("Allowed" if perc >= 75 or input("Medical cause? (Y/N): ").upper() == "Y" else "Not Allowed")

Total classes held:  75
Classes attended:  5

Attendance: 6.666666666666667 %

Medical cause? (Y/N):  n

Not Allowed

#### 16- Write a program to check if a year is leap year or not.
If a year is divisible by 4 then it is leap year but if the year is century year like 2000, 1900, 2100 then it must be divisible by 400.

In [43]:
year = int(input("Enter a year: "))

if (year % 400 == 0) or (year % 4 == 0 and year % 100 != 0):
    print(year, "is a Leap Year")
else:
    print(year, "is Not a Leap Year")

Enter a year:  300

300 is Not a Leap Year

#### 17-Ask user to enter age, gender ( M or F ), marital status ( Y or N ) and then using following rules print their place of service.
if employee is female, then she will work only in urban areas.

if employee is a male and age is in between 20 to 40 then he may work in anywhere

if employee is male and age is in between 40 t0 60 then he will work in urban areas only.

And any other input of age should print "ERROR"

In [68]:
age = int(input("Enter age: "))
gender = input("Enter gender (M/F): ").upper() 
marital_status = input("Enter marital status (Y/N): ").upper() 
if gender == "F":
    print("She will work only in urban areas.")
elif gender == "M":
    if 20 <= age <= 40:
        print("He may work anywhere.")
    elif 40 < age <= 60:
        print("He will work only in urban areas.")
    else:
        print("ERROR")
else:
    print("ERROR")

Enter age:  8858
Enter gender (M/F):  m
Enter marital status (Y/N):  n

ERROR

#### 6-Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria : Unit Price
uptp 100 units no charge Next 200 units Rs 5 per unit After 200 units Rs 10 per unit (For example if input unit is 350 than total bill amount is Rs.3500 (For example if input unit is 97 than total bill amount is Rs.0 (For example if input unit is 150 than total bill amount is Rs.750

In [70]:
units = int(input("Enter number of units consumed: "))

if units <= 100:
    bill = 0
elif units <= 300:
    bill = (units - 100) * 5
else:
    bill = (200 * 5) + (units - 300) * 10

print("Total bill amount = Rs.", bill)

Enter number of units consumed:  858

Total bill amount = Rs. 6580

#### 13-Take input of age of 3 people by user and determine oldest and youngest among them.

In [75]:
age1 = int(input("Enter age of person 1: "))
age2 = int(input("Enter age of person 2: "))
age3 = int(input("Enter age of person 3: "))

oldest = max(age1, age2, age3)
youngest = min(age1, age2, age3)

print("Oldest age is:", oldest)
print("Youngest age is:", youngest)

Enter age of person 1:  855
Enter age of person 2:  44
Enter age of person 3:  33

Oldest age is: 855
Youngest age is: 33